*{
    margin: 0%;padding: 0%;box-sizing: border-box;
}
body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.main{
    height: 400px;
    width: 250px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.main div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    margin: 1px;
    border: 1px solid black;
}
.main div:hover{
    background-color: rgb(201, 255, 147);
}
.main div:active{
    background-color: aquamarine;
}
#output{
    grid-column: span 4;
    background-color: aliceblue;
    border: 1px solid grey;
}
.clear{
    grid-column: span 2;
    background-color: rgb(246, 161, 130);
    color: orangered;
}
.num{
    background-color: rgb(198, 255, 236);
}
.optc{
    background-color: rgb(211, 175, 128);
}
.zero{
    grid-column:span 2 ;
}
.equal{
    grid-row: span 2;
    background-color: rgb(169, 254, 169);
}
